
h1 {
    background-color:#eff2d7;
    text-align: center;
    padding: 20px;
    font-family: courier;
}


    body {
        background-color: #eff2d7;
    }

         
          #menu li {
            display:inline;
            font-family: Courier;
        }
