
h1 {
    background-color:#eff2d7;
    text-align: center;
    padding: 20px;
    font-family: courier;
}


    body {
        background-color: #eff2d7;
        padding:0;
        margin:0;
    }
        #h2 {
        background-color:#eff2d7;
        text-align: left;
        padding: 20px;
        font-family: courier;
    }

         
          #menu li {
            display:inline;
            font-family: Courier;
            text-align: center;
        }
